<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" method="POST" class="login">
    <h2>Login</h2>
    <div>
        <label>Correo<br></label>
        <input class="formulario" id="Nombre_usuario" type="text" formControlName="emailControl"/>
    </div>
    <div>
        <label>Contraseña<br></label>
        <input class="formulario" id="contraseña" type="password" formControlName="passwordControl"/>
    </div>
  <input class="boton hover:cursor-pointer" type="submit" value="Ingresar" />
</form>
